{% extends "base.html" %}
{% load static %}
{% block content %}

<a href="{% url 'produto:produto_list' %}">Voltar</a>

<h1>{{ object }}

  <!--<a href="{% url 'produto:produto_edit' object.pk %}">-->
  <span class="pull-right">
    <a href="{% url 'estoque:estoque_entrada_list' %}">
      <button type="button" class="btn btn-success">
        <span class="fa fa-pencil"></span> Entrada
      </button>
    </a>
  </span>

  
</h1>

<span class="pull-right">
    <a href="{% url 'estoque:estoque_saida_list' %}">
      <button type="button" class="btn btn-danger">
        <span class="fa fa-pencil"></span> Saida
      </button>
    </a>
  </span>

<div class="col-sm-6">
  <table class="table table-user-information" >
    <tbody>
      <tr>

        <th class="text-right">Importado</th>
        <td>
          {% if object.importado %}
            <i class="fa fa-check-circle ok"></i>
          {% else %}
            <i class="fa fa-minus-circle no"></i>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th class="text-right">NCM</th>
        <td>{{ object.ncm }}</td>
      </tr>
      <tr>
        <th class="text-right">Preço</th>
        <td>R$ {{ object.preco }}</td>
      </tr>
      <tr>
        <th class="text-right">Estoque</th>
        <td>{{ object.estoque }}</td>
      </tr>
      <tr>
        <th class="text-right">Estoque mínimo</th>
        <td>{{ object.estoque_minimo }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}